.home{
    background-image: url(/src/Componentes/Image/fondo.jpg);
    height: 800px;
    /*position: relative;*/
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 2rem;
    padding-bottom: 10rem;
    align-items: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.subTitle{
    display: block;
    font-weight: 200;
    align-content: center;
    text-align: left;
}



.textTitle{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    padding-left: 2rem;
}

.textDark{
    color: #000; 
}

.textRed{
    color: red; 
}

.textSubtitle{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    padding-left: 2rem;
}


.textNormal{
    font-size: 30px;
    padding-left: 1rem;
}

.imagenHome{
    width: 50%;
}


.image{
    width: 100%;
}