.imagenServicios{
    padding: 1rem;
    margin: 0rem;
    margin-bottom: 5rem;
    width: 570;
    height: 321;
}

.textTitleServicios{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding-left: 2rem;
}

.textDarkServicios{
    color: #000; 
}