
.nosotros{
    background-image: url(/src/Componentes/Image/fondo.jpg);
    height: 800px;
    /*position: relative;*/
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 2rem;
    padding-bottom: 10rem;
    align-items: center;
    text-align: center;
    /*display: flex;*/
   
}

.textTitleNosotros{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    padding-left: 2rem;

}

.textSubtitleNosotros{
    font-size: 2rem;
    font-weight: 600;
    /*letter-spacing: 0.2rem;*/
    padding-left: 2rem;
}

.columnImageNosotros{
    width: 100%;
    align-items: center;
}

.columnNosotros{
    align-items: center;
    vertical-align: middle;
}

.imageNosotros{
    width: 30rem;
}

.textNosotros{
    font-size: 1rem;
    font-weight: 400;
    /*letter-spacing: 0.2rem;*/
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;

}