.tabs {
    list-style: none;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    justify-content: center;
  }
  
  .tabs > li {
    padding: 0.5em 1em;
    margin: 0 1em;
  }

  .linkTab {
    color:rgb(85, 56, 56);
    text-decoration: none;
  }
  .current {
    font-weight: bold;
    border-bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
    top: 2px;  

  }
  
  .content {
    padding: 1rem 2em;
    color:rgb(41, 41, 56)
  }

  .title{
    margin-top: 1rem;
  }

  .titleServicios{
    color:rgb(45, 45, 48);
    font-weight: 400;
    display: contents;
  }

  .textTab{
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgb(46, 46, 48);
    margin-left: 3rem;
    margin-right: 3rem;
    position: relative;
}

.bodySection{
   margin: 4rem 3rem 2rem 3rem;
   padding: 1rem 1rem 1rem 1rem;
   }

 .textSection{
    color:rebeccapurple;
    font-weight: 400;
    font-size: 1.5rem;
    /*margin: 4rem 3rem 2rem 3rem;*/
    padding: 1rem 1rem 1rem 1rem;
    }
 

.imagen{
    width: 20rem;
    border-radius: 12rem;
}

.tituloTab{
  margin-left: 1rem;
}

.imageSection{
  align-items: center;
}